body { margin: 1em auto; width: 100%; }

header { border-bottom: solid 2em #861289; padding-bottom: 2em; }
header i.logo { display: block; width: 21em; height: 7em; background-image: url(./../images/lgo-condominio_em_rede.png); background-repeat: no-repeat; }
header nav { font: 1.7em verdana, sans-serif; }
header nav a { color: #861289; }
header nav a:hover { color: #97d819; text-decoration: none; }
header nav ul { margin-top: 2rem; padding: 0; list-style: none; }
header nav ul li { display: block; float: left; position: relative; margin-left: 2.5rem; padding-bottom: 0.3rem; }
header nav ul li:first-child { margin-left: 0; }
header nav ul li.underline { border-bottom: solid 2px #861289; }
header nav ul li.underline:hover { border-bottom-color: #97d819; }

header nav ul ul { display: none; font-size: 1.1rem; }
header nav ul li/*:hover*/ ul { display: block; position: absolute; background: #ffffff; }
header nav ul li li { display: block; float: none; clear: both; margin: 0; }
